@font-face {
    font-family: "IranSans";
    src: url("./font/IRANSansMobile.ttf");
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IranSans, serif;

}

body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span{
  font-size: 12px;
}

.container a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button{
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.admin-share{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .admin-share{
  transform: translateX(100%);
}

textarea {
  direction: rtl;
  width: 100%;
  height: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f2f0ed;
  resize: none;
}

.user-register{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .user-register{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.checkbox-group label {
  margin-right: 10px;
  text-align: center;
}

.checkbox-group .checkboxes {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}

@media screen and (max-width:992px){
  .admin-share{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px){
  .admin-share{
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width:992px){
  .user-register{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px){
  .user-register{
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width:992px){
  .toggle-container{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px){
  .toggle-container{
      grid-template-columns: 1fr;
  }
}

.banner-button{
margin: 30px auto 0;
text-align: center;
}

.banner-button a {
width: 200px;
font-size: 20px;
text-decoration: none;
display: inline-block;
margin: 0 10px;
padding: 12px 0;
color: rgb(16, 17, 17);
border: 2px solid rgb(40, 42, 43);
position: relative;
z-index: 1;
transition: 0.5s;
}

.banner-button a span{
width: 0;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: #512da8;
z-index: -1;
transition: 0.5s;
}

.banner-button a:hover span{
width: 100%;
}

.banner-button a:hover{
color: rgb(246, 242, 242);
}

@media screen and (max-width:992px){
  .banner-button{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px){
  .banner-button{
      grid-template-columns: 1fr;
  }
}

.news{
  width: 100%;
}

.blog-section{
  width: 85%;
  margin: 10px auto;
}

.blog-section .title {
  width: 60%;
  text-align: center;
  margin: auto;
}

.blog-section .title h2 {
  font-size: 40px;
  color: #3c35a6;
  text-transform: uppercase;
  margin-top: 20px;
}

.blog-section .title p{
  font-size: 18px;
  color: #7e7e7e;
  margin-top: 20px;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 25px auto;
}

.cards .card {
  width: 100%;
  position: relative;
  border: 2px solid rgb(40, 42, 43);
  border-radius: 5px;
}

.content {
  padding: 15px 20px;
}

.content h4 {
  font-size: 24px;
  color: #222;
  font-weight: 500;
}

.content p {
  color: #4e4d4d;
  font-size: 15px;
}

@media screen and (max-width:992px){
  .cards{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:768px){
  .cards{
      grid-template-columns: 1fr;
  }
}


input{
    direction: rtl;

}